.mat-card-title {
    font-size: small;
    color: white;
}

.mat-card-image {
    width: 200px;
}

.mat-card {
    width: 168px;
    height: 450px;
    background-color: rgba($color: brown, $alpha: 0.68);
    margin-left: 16px;
    margin-bottom: 16px;
}

.mat-card-subtitle {
    text-decoration-style: italic;
    font-size: x-small;
    color: beige;
}

