<div class="library-background">
  <div class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Search for books</mat-label>
      <input matInput [formControl]="searchTerm" />
    </mat-form-field>
  </div>
  <section *ngIf="bookList$ | async as list" class="content-section">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center center">
      <div *ngFor="let item of list">
          <app-book-card [book]="item"></app-book-card>
      </div>
    </div>

  </section>
</div>

